* {
	-fx-blue-dark: #00A2D3;
	-fx-blue-light: #72D3FE;
	-fx-grey-dark: #202332;
	-fx-grey-light: #333645;
	-fx-orange: #eda676;
	-fx-white: #f8f8f8
	
}

.root {
	-fx-background-color: -fx-white;
	-fx-font-family: "Calibri Light";
	-fx-text-fill: -fx-blue-dark;
	-fx-font-size: 20;
}


.label {
	
}

#label-bold {
	-fx-font-weight: bold;
}

.lb-menu {
	-fx-font-weight: bold;
	-fx-font-size: 20;
	-fx-text-fill: -fx-white;
	-fx-background-color: transparent;
}

.btn-menu {
	-fx-font-weight: bold;
	-fx-color: -fx-white;
		
}

.btn-menu:hover {
	-fx-background-color: #202332;
	-fx-font-weight: bold;
	-fx-color: #F8F8F8;
}

.btn-main {
	-fx-border-color: -fx-blue-light;
	-fx-border-radius: 20px;
	-fx-background-radius: 20px;
}

.tabs-zahlung {
	-fx-background-color: #333645;
	-fx-pref-height: 50;
	-fx-pref-width:  200;
	-fx-font-weight: bold;
	-fx-font-size: 25;
}

.tab-header-background {
	-fx-background-color: #333645;
}

.tab:hover {
	-fx-background-color: #202332;
}

.box {
	-fx-border-color: #7C8184;
	-fx-border-width: 2px, 0px, 0px, 0px;
}


